<div class="side-content">
  <div class="side-button" matRipple routerLink="/home" routerLinkActive="active">
    <mat-icon matSuffix>home</mat-icon>
    <span>主页</span>
  </div>
  <div class="side-button" matRipple routerLink="/translate" routerLinkActive="active">
    <mat-icon matSuffix>translate</mat-icon>
    <span>翻译</span>
  </div>
  <div class="side-button" matRipple routerLink="/glossary">
    <mat-icon matSuffix>bookmarks</mat-icon>
    <span>生词本</span>
  </div>
  <div class="side-button" matRipple routerLink="/config">
    <mat-icon matSuffix>settings</mat-icon>
    <span>设置</span>
  </div>
</div>
