.result-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .definition {
    width: 100%;
    padding: 10px 0;
    overflow-y: scroll;
    overflow-x: hidden;

    .stare {
      display: inline-block;
      vertical-align: super;

      .stare-icon {
        display: inline-block;
        -webkit-text-fill-color: #edb867;
      }
    }

    .phonetic {
      img {
        width: 20px;
        margin-right: 5px;
      }
    }
  }
}
