@import "../../../styles";

:host {
  @include host
}

.container {
  height: 100%;
  padding: 0 10%;
  background-image: linear-gradient(-120deg, #26e289, #1a5fa2 100%, red 200%);

  .top-bar {
    position: absolute;
    z-index: 999;
  }

  .search-container {
    width: 100%;

    .search-input {
      display: block;
      margin: 0 auto;
      padding-top: 50px;
      font-size: 26px;

      .spell-content {
        font-size: 16px;
        height: 27px;
      }

      .spell-suggest {
        font-size: 16px;
        display: inline-block;
        line-height: 16px;
        padding: 3px;
        margin: 0 3px 3px 0;
        vertical-align: middle;
        border: $white-12-opacity dashed 1px;
        border-radius: 3px;
      }
    }

    .suggest-content {
      height: 100%;

      .search-list {
        height: 100%;
        margin: 0 auto;
        cursor: pointer;

        .search-item {
          height: 35px;
        }
      }
    }
  }

  .daily-content {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
      filter: blur(3px);
    }

    .daily {
      position: absolute;
      padding: 0 10px;
      left: 0;
      bottom: 10px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .9));

      p {
        margin-bottom: 0;
      }
    }
  }

  .result {

    height: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
