@import "../../../styles";

:host {
  @include host
}

.container {
  height: 100%;
  padding: 0 10%;
  background-image: linear-gradient(-120deg, #26e289, #1a5fa2 100%, red 200%);

  .history {
    margin-bottom: 10px;
  }

  .search-container {
    width: 100%;

    .search-input {
      display: block;
      margin: 0 auto;
      padding-top: 50px;
      font-size: 26px;

      .spell-content {
        font-size: 16px;
        height: 27px;
      }

      .spell-suggest {
        font-size: 16px;
        display: inline-block;
        line-height: 16px;
        padding: 3px;
        margin: 0 3px 3px 0;
        vertical-align: middle;
        border: $white-87-opacity dashed 1px;
        border-radius: 3px;
      }
    }

    .suggest-content {
      height: 100%;

      .search-list {
        height: 100%;
        margin: 0 auto;

        .search-item {
          height: 35px;

          &:hover {
            text-shadow: 0 0 0.2em #a9a9a9;
          }

          &:after {
            content: attr(data-partOfSpeech);
            font-size: 12px;
            line-height: 12px;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .daily-content {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    p {
      margin: 0;
    }

    .daily-center {
      width: 60%;
      margin: 20%;
    }

    .daily-blur {
      position: absolute;
      width: 60%;
      height: 60%;
      filter: blur(20px);
      background: no-repeat center;
      background-size: 170%;
    }

    img {
      width: 100%;
      display: block;
      -webkit-user-drag: none;
    }
  }

  .result {
    height: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
