<div class="container">
  <div class="top-bar">
    <button mat-button (click)="message.toggleSidenav()"><mat-icon>menu</mat-icon></button>
    <button mat-button (click)="openDialog()"><mat-icon>person</mat-icon></button>
  </div>

  <div [@openClose]="animationState" class="search-container">
    <mat-form-field class="search-input">
      <input type="text" matInput placeholder="请输入单词" [(ngModel)]="word" (ngModelChange)="onChange()"
             (keyup)="enterClick($event)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div #list class="suggest-content">
      <cdk-virtual-scroll-viewport *ngIf="animationState==='1'" itemSize="10" class="search-list">
        <div *cdkVirtualFor="let item of items" class="search-item">{{item.key}}</div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>


  <div class="result" *ngIf="animationState==='2'">
    <app-result [word]="word"></app-result>
  </div>

  <div class="daily-content" *ngIf="animationState==='0'">
    <img [src]="daily.picture2">
    <div class="daily">
      <p>{{daily.content}}</p>
      <p>{{daily.note}}</p>
    </div>
  </div>

</div>
