<div class="container">
  <div [@openClose]="animationState" class="search-container">
    <mat-form-field class="search-input">
      <input type="text" matInput placeholder="请输入单词" [(ngModel)]="word" (ngModelChange)="onChange()"
             (keyup.enter)="enterClick()">
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint class="spell-content" *ngIf="spell.suggest.length">您是不是要找：
        <span class="spell-suggest pointer" *ngFor="let e of spell.suggest" (click)="search(e)">{{e}}</span>
      </mat-hint>
    </mat-form-field>

    <div #list class="suggest-content">
      <cdk-virtual-scroll-viewport *ngIf="animationState==='1'" itemSize="10" class="search-list">
        <div *cdkVirtualFor="let item of items" class="search-item pointer"
             [attr.data-partOfSpeech]="getPart(item)">{{item.key}}</div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>


  <div class="result" *ngIf="animationState==='2'">
    <app-result [word]="word"></app-result>
  </div>

  <div *ngIf="animationState==='0'">
    <div class="history" *ngIf="history.length">
      <mat-chip-list>
        <mat-chip class="pointer" *ngFor="let e of history">{{e.word}}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="daily-content" *ngIf="init.daily">
      <img [src]="init.daily.picture2">
      <div class="daily-blur center" [style.backgroundImage]="'url('+ init.daily.picture2 +')'"></div>
      <div class="center">
        <p>{{init.daily.content}}</p>
        <p>{{init.daily.note}}</p>
      </div>
    </div>
  </div>

</div>
