@import "../../../styles";

:host {
  @include host
}

.translate-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #ff8492, #dc4225);

  .textarea {
    position: relative;
    width: 100%;

    textarea {
      height: 150px;
      max-height: 150px;
      min-height: 100px;
    }
  }

  .translate-button {
    margin-bottom: 25px;
  }

  .translate-result {
    position: relative;
    flex: 1 1;
    width: 100%;
    height: 25%;
    border: black solid 1px;
  }
}
