@import '~@angular/material/theming';

.sidenav-container {
  height: 100%;
  width: 100%;

  .sidenav {
    width: 100px;
    background-color: mat-color($mat-grey, 900);
  }

  main {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
}

