@import '~@angular/material/theming';

.sidenav-container {
  height: 100%;
  width: 100%;

  .sidenav {
    width: 100px;
    background-color: mat-color($mat-grey, 900);
  }

  main {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  .top-control {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    right: 0;
    top: 0;
    -webkit-app-region: drag;

    button {
      -webkit-app-region: no-drag;
    }
  }
}

