@import '~@angular/material/theming';
@import "../../../styles";

:host {
  @include host;
}

.textbook-content {
  height: 100%;
  padding: 35px;
  background-image: linear-gradient(60deg, #fff1eb 0%, #ace0f9 100%);

  .textbook-control {
    margin-bottom: 10px;

    button {
      margin-right: 5px;
    }
  }

  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }
}
